{% extends "base.html" %} {% block content%}
<div class="jumbotron">
  <h1>Info about our company</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quidem ea,
    dolore dolorum, delectus, inventore fugiat maiores quia cum facilis
    praesentium necessitatibus quam. Quasi, itaque! Sint modi eos incidunt,
    ducimus accusantium optio dicta recusandae. Facilis dolore ullam
    consequuntur architecto, recusandae aliquam facere quisquam veniam? Nobis
    dignissimos iste saepe sapiente ab.
  </p>
</div>
{% endblock %}
